* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #FF7320 ;
}

nav{
    width: 100%;
    height: 100px;

}

ul{
    margin-left: 20px ;
}

ul li{
    list-style: none;
    display: inline-block;
  
    line-height: 100px;

}
ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f5efef;
    padding: 0 20px;
}

ul li a:hover{
    color: rgb(8, 8, 8);
}
.logo{
    width: 50px;
}

.container{
    padding-top: 10px;
}

.pic{
    width: 200px;
    height: 200px;
}
.space{
   display: inline-block;
   padding-right: 50px;
}

.bookcard{
   margin-left: 100px;
   margin-right: 100px;
}

.card{
    margin-bottom: 10px;
}


.row{
    margin-left: 10px;
}
.username{
    margin-left: 600px;
    margin-right: 20px;
    color: #f5efef;
    font-size:xx-large;
}


