* {
    margin: 0;
    padding: 0;
}
body  
{  
    font-family: 'Arial';  
}  
.login{  
        width: 440px;  
        margin: auto;  
        padding: 80px;  
        background: #f3eeeb;  
        border-radius: 15px ;  
          
} 

/* .login small{
    visibility: hidden;
} */

h2{  
    text-align: center;  
    color: #f9f3f3;  
    padding: 1px;  
}  
label{  
    color: #020e0e;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
} 


